<footer>
<span class ="fl">TripA2Z</span>
<span class ="f2"><a class="f2" href="/about">About</a></span>
<span class ="f3"><a class="f3" href="/contact">Contact</a></span>
<span class ="fr">&copy; 2020 TripA2Z.All rights reserved</span>

</footer>