<header>
	<span class ="heamain"><a class="titlecol" href= "/">TripA2Z</a></span>
			  <nav id="navbar">
				<ul>
					<li ><a href="login">Sign In</a></li>
					<li ><a  href="login">Sign Up</a></li>
					<li ><a  href="newConnection">Start a new Trip</a></li>
				</ul>
			 </nav>
			<hr>
			<ul>
				   <li class="exislist"><a class="col2" href="/connections">Existing Trips</a></li>
				</ul>		
	</header>