<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>index</title>
<link rel = "Stylesheet" type="text/css" href = "../assets/css/customstyle.css">
</head>
<body>
  <% if(user != null || user != undefined) { %>
		<%- include ('partials/signinheader.ejs') %>
	
	<% } else { %>
		<%- include ('partials/header.ejs') %>
	<% } %>
    <section class="stylea111">
      <h1>TripA2Z</h1>
      <br>
      <h3>This website is a travel meetup ,if you dont want to go alone on a trip</h3>
      <br>
      <h3>You can create a trip which can help other's join your trip or you can join in the existing trips made by other users</h3>
    </section>

    <%- include ('partials/footer.ejs') %>
 
		</body>
		</html>